body {
  background: #50B4D9;

}

p {
  color: #000000;
  width: 400px;
}

.profilePic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  margin: 50px;
}

.backgroundBox {
  width: 500px;
  height: 100px;
  background-color: #D97550;
  padding: 15px;
}
